body {
  margin: 0;
  /* max-width: 100%; */
  font: 14px / 1 sans-serif;
  display: flex;
  flex-direction: column;;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  color: white;
  text-align: center; 
}

.playerDash > form {
  display:flex;
  flex-direction:row;
  margin: 3em;
  padding: 1em 1em;
}

.playerScore {
  padding: 1em 1em;
  font-size: 20pt;
}


.mainBoard {
  max-width: 80%;
  display:flex;
  flex-direction: row;
}

.button {
  background-color: blue;
  color: yellow;
  font-size: 20pt;
  border: 0px;
  }

.jeopardyBoardBox {
  border: .15px solid black;
  padding: 3em;
  text-align: center;
}

.questionDisplay {
  font-size: 20pt;
}

.selectedQuestion {
  color: blue
}