
body {
  margin: 0;
  /* max-width: 100%; */
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
}

.mainBoard {
    max-width: 100%;
  display:flex;
  flex-direction: row;
}

.jeopardyBoardBox {
  border: .15px solid black;
}